WebAppClient/src/conf/xml-resources/web-service-references/DatabaseService/wsdl/localhost_9090/WebApp/DatabaseService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://cimidentities/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cimidentities/">

<xs:element name="SendToDB" type="tns:SendToDB"/>

<xs:element name="SendToDBResponse" type="tns:SendToDBResponse"/>

<xs:complexType name="SendToDB">
<xs:sequence>
<xs:element name="n_name" type="xs:string" minOccurs="0"/>
<xs:element name="nt_name" type="xs:string" minOccurs="0"/>
<xs:element name="nt_des" type="xs:string" minOccurs="0"/>
<xs:element name="nta_name" type="xs:string" minOccurs="0"/>
<xs:element name="nta_des" type="xs:string" minOccurs="0"/>
<xs:element name="uuid" type="xs:string" minOccurs="0"/>
<xs:element name="uuidEntered" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SendToDBResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>