DatabaseService/web/WEB-INF/wsdl/localhost_8080/CIMdatabase/CIMdatabase.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://CIMdatabase/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CIMdatabase/">

<xs:element name="sendToDB" type="tns:sendToDB"/>

<xs:element name="sendToDBResponse" type="tns:sendToDBResponse"/>

<xs:element name="showDB" type="tns:showDB"/>

<xs:element name="showDBResponse" type="tns:showDBResponse"/>

<xs:complexType name="showDB">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showDBResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendToDB">
<xs:sequence>
<xs:element name="arg0" type="xs:boolean"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendToDBResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>