CIMIdentitiesJSP/src/conf/xml-resources/web-service-references/SendCIMIdentities/wsdl/localhost_9090/CIMIdentities-w/SendCIMIdentities.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://www.epri.com/2016/CIMIdentities#" targetNamespace="http://www.epri.com/2016/CIMIdentities#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:element name="CIMIdentities" type="m:CIMIdentities"/>
	<xs:complexType name="CIMIdentities">
		<xs:sequence>
			<xs:element name="CIMIdentity" type="m:CIMIdentity" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIMIdentity" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject">
		<xs:annotation/>
		<xs:sequence>
			<xs:element name="IdentifiedObject" type="m:IdentifiedObject" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifiedObject" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name">
		<xs:annotation>
			<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b>not&lt;/b> to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
				<xs:annotation>
					<xs:documentation>Any free text that name the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name">
		<xs:annotation>
			<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b>not&lt;/b> to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
				<xs:annotation>
					<xs:documentation>Any free text that name the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameType" type="m:NameType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.NameType">
				<xs:annotation>
					<xs:documentation>Type of this name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType">
		<xs:annotation>
			<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:</xs:documentation>
			<xs:documentation>The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.description">
				<xs:annotation>
					<xs:documentation>Description of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.name">
				<xs:annotation>
					<xs:documentation>Name of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.NameTypeAuthority">
				<xs:annotation>
					<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority">
		<xs:annotation>
			<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.description">
				<xs:annotation>
					<xs:documentation>Description of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.name">
				<xs:annotation>
					<xs:documentation>Name of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="mRID">
		<xs:annotation>
			<xs:documentation>This is intended to be a universally unique identifier (UUID) for an instance of an object.  It is intended that this identifier is compliant with the IETF RFC 4122 ("A Universally Unique IDentifier URN Namespace") definition of a UUID. Furthermore, the pattern used to restrict the xs:string should support any of the RFC 4122 UUID variants, including the Microsoft Globally Unique Identifier (GUID) variant of the UUID, without being restricted to supporting ONLY the Microsoft GUID definition.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>